.header {
grid-area: h;
position: fixed;
width: 100%;
z-index: (1);
}


.header img {
  border-radius: 5px;
  width: 50px;
  height: 50px;
 

}
a{
  text-decoration: none;
  color: #fefefe;
}

.loginBlock{
  float: right;
}
.loginBlock a{
  color: white;
  text-decoration: solid;
}