@import "../Common/Components/styles/sass/Variables.scss";
@import "../Common/Components/styles/sass/Mixins.scss";


.header {
  grid-area: h;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  

  .title {
font-size: xx-large;
    margin: 20px;
     @media screen and (max-width: 500px) {
    font-size: x-large;
  }
  @media screen and (max-width: 400px) {
    font-size: large;
  }
  }

  .burger {
    display: flex;
    justify-content: flex-end;
    @media screen and (min-width: 600px) {
      display: none;
    }
  }


  .loginBlock {
    margin-right: 10px;

    .propBtn {
      width: fit-content;
    }
  }

}