@import "../styles/sass/Variables.scss";
.formControl.error input, 
.formControl.error textarea{
    border: solid red 2px;
}

.formControl.error span{
color: red;
}
.formSummaryError {
    padding: 5px;
    color: rgb(222, 18, 14);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    user-select: none;
  }
  
input ,textarea{
  margin: 5px;
  max-width: 340px;
  background: none;
  border: solid;
  border-color: $primaryColor;
  color: $textColor;

  
}

.Field{
 width:200px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
 
}