.userBlock {
    padding: 20px;
    .img {
        max-width: 100px;
    }

    .name {
        padding-left: 10px;
    }

    .button {
        .unFollowBtn{
            max-width: 120px;
        }
    }

}