@import "../../Common/Components/styles/sass/Variables.scss";
.addPostForm {
display: flex;
align-items: center;

.form{
    margin: 20px;
    display: flex;
    max-height: 100px;
    color: #dfe3ee;

    textarea{
  max-width: 340px;
  width: 340px;
  max-height: 100px;
  background:none;
  border: solid;
  border-color: $primaryColor;
  color: $textColor;
     height: 30px;
     @media screen and (max-width: 500px) {
        max-width: none;
        width: auto;
     }
    }
    .submitBtn{
margin-left: 20px;
padding-top: 5px;
    }
}
}



