@import "../../../Common/Components/styles/sass/Variables.scss";


.item {

    display: flex;
    align-items: center;

    .postPhoto {}

    .postMessage {
        margin: 20px;

        .likeActive {
            background: $primaryColor;
            color: $bgColor
        }


    }



}