.descriptionBlock {
   display: flex;
margin: 10px;
align-items: center;
@media screen and (max-width: 850px) {
    flex-direction: column;
    align-items: center;
}


    .profilePhoto{
display: flex;
flex-direction: column;
align-items: center;
margin: 10px;


    }
.profileData{
   
      .contacts{
    padding-left: 20px;

}
}

  
}


