.app-wrapper {
  margin: 0 auto;
  display: grid;
width: auto;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 90px 1fr;
  grid-template-columns: 128px 2fr;
}

.app-wrapper-content {
  grid-area: c;
  background-color: aquamarine;

}