.app-wrapper {
  margin: 0 auto;
  display: grid;
width: auto;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 90px 3fr;
  grid-template-columns: 128px 2fr;
  @media screen and (max-width: 600px) { 
    grid-template-areas:
    "h h"
    "c c";
  }
 
}

.app-wrapper-content {
  grid-area: c;


}