@import "./Common/Components/styles/sass/Mixins.scss";
@import "./Common/Components/styles/sass/Variables.scss";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background-color: $bgColor;
  color: $textColor;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}