.nav {
  grid-area: n;
  background-color: #122543;
  text-align: center;
}

.item  {
  text-decoration: none;

}

a.active {
  text-align: left;
  text-shadow: 3px;
  text-decoration: solid;
  text-decoration-line: underline;
  text-decoration-color: black;
}

.link{
  padding: 5px; 
}
