.nav {
  grid-area: n;
  display: flex;
  position: fixed;
  width: 120px;
  height: 100vh;
  justify-content: space-around;

@media screen and (max-width: 600px) {
display: none;  
}

  .item {
    padding-top: 110px;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

}