.dialogs {
    display: grid;
    grid-template-columns: 2fr 20fr;
}

.dialog {
    padding: 5px;
}

.dialogsItem {
    padding: 5px;
    color: black;
}

.messages {
    padding: 5px;
    color: black;
}
