.nav {
  grid-area: n;
  background-color: brown;
  text-align: center;
}

.item a {
  text-decoration: none;
  color: aliceblue;
}

a.active {
  text-align: left;
  text-shadow: 3px;
  text-decoration: solid;
  text-decoration-line: underline;
  text-decoration-color: black;
}

.link{
  padding: 5px;
}