  @import "../../../Common/Components/styles/sass/Variables.scss";

  .messageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $bgSecondColor;
    margin: 5px;

    .namePhotoContainer {
        display: flex;
        align-items: center;
        margin: 10px;

        .userPhoto{
            max-width: 50px;
            max-height: 50px;
        }
        .userName {
            margin-left: 10px;
        }
    }


    .message {}

}